

<h2>All current requests</h2>
<ul>
    {{#each Request}}
    <li>
        <ul>
            <li>Customer Name: {{this.customer}} </li><br>
            <li>Customer Location: {{this.location}}</li><br>
            <li>Item: {{this.item}}</li><br>
            <li>Estimated Weight: {{this.weight}}</li><br>
            <li>Request Status: <br><br>{{#if this.status}}
                <p>Accepted</p>
                {{else}}
                <p>Pending...</p>
                {{/if}}
            </li><br>
            {{#unless this.status}}
            <button class="accept-btn" id={{this.id}}>Accept</button>
            {{/unless}}
        </ul>
    </li>
    {{/each}}
</ul>