{{!-- <script>
    if (this.status === 1) {

    }
</script> --}}

<h2>All Current Requests</h2>

<div>
    <h3>Current Accepted Request</h3>
    <table>
        <tr>
            <th>Customer Name</th>
            <th>Customer Location</th>
            <th>Item</th>
            <th>Estimated Weight</th>
            <th>Request Status</th>
        </tr>
        {{#each requests}}
        {{#if this.status}}
        {{#unless this.is_complete}}
        <tr>
            <td>{{this.customer}}</td>
            <td>{{this.location}}</td>
            <td>{{this.item}}</td>
            <td>{{this.weight}}</td>
            <td>{{#if this.status}}
                <p>Accepted</p>
                {{else}}
                <button class="accept-btn" id={{this.id}}>Accept</button>
                {{/if}}
            </td>
        </tr>
        {{/unless}}
        {{/if}}
        {{/each}}
    </table>
</div>
<div>
    <h3>All Unaccepted Requests</h3>
    <table>
        <tr>
            <th>Customer Name</th>
            <th>Customer Location</th>
            <th>Item</th>
            <th>Estimated Weight</th>
            <th>Request Status</th>
        </tr>
        {{#each requests}}
        {{#unless this.status}}
        {{#unless this.is_complete}}
        <tr>
            <td>{{this.customer}}</td>
            <td>{{this.location}}</td>
            <td>{{this.item}}</td>
            <td>{{this.weight}}</td>
            <td>{{#if this.status}}
                <p>Accepted</p>
                {{else}}
                <button class="accept-btn" id={{this.id}}>Accept</button>
                {{/if}}
            </td>
        </tr>
        {{/unless}}
        {{/unless}}
        {{/each}}
    </table>

    <h3>Canceled Requests</h3>
    <table>
        <tr>
            <th>Customer Name</th>
            <th>Customer Location</th>
            <th>Item</th>
            <th>Estimated Weight</th>
            <th>Request Status</th>
        </tr>
        {{#each requests}}
        {{#if is_complete}}
        <tr>
            <td>{{this.customer}}</td>
            <td>{{this.location}}</td>
            <td>{{this.item}}</td>
            <td>{{this.weight}}</td>
            <td>
              {{#if this.status}}
                <p>Accepted</p>
                {{else}}
                <p>Not yet accepted</p>
                {{/if}}
            </td>
        </tr>
        {{/if}}
        {{/each}}
    </table>
</div>

</div>