<div class="jumboForm">
<div class="welcome">
  {{!-- Username here when ready --}}
  <h2>Recycling service. On your time. Wherever you want.</h2>
  <div id="instructions">
    <p>Tell us what, where, and the weight of the item and a driver will be on the way soon. </p>
    <br><br>
  </div>
</div>

<form id="cms">
  <div class="form-group">
    <br />
    <label for="item_name">Item Name</label>
    <input placeholder="Recyclables" type="text" class="form-control" id="item_name">
    <br />
    <label for="estimated_weight">Estimated Weight (lbs): </label>
    <input placeholder="15 lbs" type="text" class="form-control" id="estimated_weight">
    <br />
    <label for="item_location">Item Location: </label>
    <input placeholder="Los Angeles" type="text" class="form-control" id="item_location">

    <br />
    <button type="submit" id="submit" class="submit tile">Submit</button>
  </div>
</form>
</div>
<br><br>

<div class="jumboForm">
<div id="currentRequests">
  <h2>Requests On The Way</h2>

  <table>
    <tr>
      <th>Customer Name</th>
      <th>Customer Location</th>
      <th>Item</th>
      <th>Estimated Weight</th>
      <th>Request Status</th>
    </tr>
    {{#each requests}}
    {{#unless is_complete}}
    <tr>
      <td>{{this.customer}}</td>
      <td>{{this.location}}</td>
      <td>{{this.item}}</td>
      <td>{{this.weight}}</td>
      <td>
        {{#if this.status}}
        <p>Accepted</p>
        {{else}}
        <p>Not yet accepted</p>
        {{/if}}
      </td>
      {{#unless this.is_complete}}
      <td>
        <button class="cancel-btn tile" id={{this.id}}>Cancel Request</button>
      </td>
      {{/unless}}
    </tr>
    {{/unless}}
    {{/each}}
  </table>

  <h2>Canceled Requests</h2>
  <table>
    <tr>
      <th>Customer Name</th>
      <th>Customer Location</th>
      <th>Item</th>
      <th>Estimated Weight</th>
      <th>Request Status</th>
    </tr>
    {{#each requests}}
    {{#if is_complete}}
    <tr>
      <td>{{this.customer}}</td>
      <td>{{this.location}}</td>
      <td>{{this.item}}</td>
      <td>{{this.weight}}</td>
      <td>
        {{#if this.status}}
        <p>Accepted</p>
        {{else}}
        <p>Not yet accepted</p>
        {{/if}}
      </td>
    </tr>
    {{/if}}
    {{/each}}
  </table>
</div>



<script>
  $(document).ready(function () {


    var cItemName = $("#item_name");
    var cEstWeight = $("#estimated_weight");
    var cItemLocation = $("#item_location");
    var cmsForm = $("#cms");


    // On click listener for when customer submits form.
    $(cmsForm).on("submit", handleFormSubmit);

    // Function prevents empty slots, creates an object with customer's data & posts it to the backend. Can be seen in the requests db.
    function handleFormSubmit(event) {
      event.preventDefault();
      // Will not submit unless every field has data.
      if (!cItemName.val().trim() || !cEstWeight.val() || !cItemLocation.val()) {
        alert("One of the fields is empty! Please fill out all the forms before you submit.")
        return;

      }
      // Take data from form & make a new object for database to read.
      var newCustomer = {
        item: cItemName.val().trim(),
        weight: cEstWeight.val().trim(),
        location: cItemLocation.val().trim()
      };

      console.log(newCustomer);

      // Sending to the backend.
      submitCustomer(newCustomer);
    }

    function submitCustomer(post) {
      $.post("/api/requests", post, function () {
        console.log("New request data has been posted!");
      });
    }
  });
</script>